:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

ul {
  list-style: none;
}

li {
  margin-top: 0.25rem;
  margin-bottom: .25rem;
  height: 2rem;
  line-height: 2rem;
  background-color: rgb(241, 199, 159);
  border-radius: 0.25rem;
}

button {
  border-radius: .25rem;
  border-style: none;
  background-color: rgb(185, 136, 107);
  width: 30%;
  height: 2rem;
}

.show {
  position: absolute;
  /* margin: auto; */
}

.hide {
  display: none;
}

.title {
  text-align: center;
  float: left;
  width: 70%;
}

.delete {
  float: right;
}

#todos {
  width: 50%;
  display: inline-block;
  background-color: blanchedalmond;
  margin: auto;
  padding: 3rem;
}

#delete-dialog {
  background-color: rgb(241, 199, 159);
  border: 1px black solid;
  border-radius: 0.5rem;
  padding: 1rem;
  top: 50vh;
  width: 50vw;
  left: 25vw;
}

#context-menu {
  --menu-background: rgb(241, 199, 159);
  --menu-highlight: rgb(153, 112, 87);
  background-color: var(--menu-background);
  box-shadow: 1px 1px 2px 3px rgba(141, 103, 81, 0.712)
}

#context-menu ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

#context-menu li {
  background-color: var(--menu-background);
  margin-top: 0;
  margin-bottom: 0;
  height: 2rem;
  line-height: 2rem;
}

#context-menu button {
  border-radius: .25rem;
  border-style: none;
  background-color: var(--menu-background);
  border-radius: 0;
  width: 100%;
  height: 2rem;
}